[ ca ]
default_ca = CA_default

[ CA_default ]
dir = /home/wen/work/crypto-pattern-fuzz/artifacts/triage/ossl_store_full_consumption/csr_crl_boundary/work/ca
certs = $dir/certs
new_certs_dir = $dir/newcerts
database = $dir/index.txt
serial = $dir/serial
crlnumber = $dir/crlnumber
certificate = $dir/ca_cert.pem
private_key = $dir/ca_key.pem
default_md = sha256
default_crl_days = 30
default_days = 365
policy = policy_any
x509_extensions = usr_cert
copy_extensions = none

[ policy_any ]
commonName = supplied

[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
CN = Test CA

[ usr_cert ]
basicConstraints = CA:false

